<header class="navbar navbar-fixed-top navbar-inverse" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <a id="logo" alt="sample app" href="#" >sample app</a>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" th:href="@{/static_pages/}">Home</a></li>
                <li><a href="#" th:href="@{/static_pages/help}">Help</a></li>
                <li><a href="#" th:href="@{/login}">Log in</a></li>
            </ul>
        </nav>
    </div>
</header>
