<header class="navbar navbar-fixed-top navbar-inverse" xmlns:th="http://www.thymeleaf.org">
    <div class="container">
        <a id="logo" alt="sample app" href="#" th:href="@{/}" >sample app</a>
        <nav>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" th:href="@{/}">Home</a></li>
                <li><a href="#" th:href="@{/help}">Help</a></li>
                <div th:if="${@sessionHelper.isLoggedIn()}" th:remove="tag">
                    <li ><a href="#" th:href="@{/users}">user</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            Account <b class="caret"></b>
                        </a>
                        <ul class="login-user-menu dropdown-menu">
                            <li ><a href="#" th:href="@{/users/{userId}(userId=${@sessionHelper.currentAccount().get().getUserId()})}" >Profile</a></li>
                            <li ><a href="#" >Settings</a></li>
                            <li class="divider"></li>
                            <li ><a href="#" th:href="@{/logout}">Log out</a></li>
                        </ul>
                    </li>
                </div>
                <div th:unless="${@sessionHelper.isLoggedIn()}" th:remove="tag">
                    <li><a href="#" th:href="@{/login}">Log in</a></li>
                </div>
                </div>
            </ul>
        </nav>
    </div>
</header>
