<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title layout:title-pattern="$CONTENT_TITLE | $DECORATOR_TITLE">Spring Boot Sample App</title>
    <link rel="stylesheet" href="dummy.css" th:href="@{/css/style.css}">
    <meta th:replace="layouts/_shim">
</head>
<body>
<div th:replace="layouts/_header"></div>
<div class="container">
    <div th:if="${success != null}" class="alert alert-success">[[${success}]]</div>
    <div layout:fragment="content" th:remove="tag"></div>
    <div th:replace="layouts/_footer"></div>
</div>
</body>
</html>