<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/application">
<head>
<title>Help</title>
</head>
<body layout:fragment="content">
<h1>StaticPages#help</h1>
<p>
    Get help on the Ruby on Rails Tutorial at the
    <a href="http://railstutorial.jp/help">Rails Tutorial help page</a>.
    To get help on this sample app, see the
    <a href="http://railstutorial.jp/book"><em>Ruby on Rails Tutorial</em>
        book</a>.
</p>
</body>
</html>