<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/application">
<head>
    <title>All users</title>
</head>
<body layout:fragment="content">
<h1>All users</h1>

<nav>
    <ul class="pagination">
        <li th:if="${pager.hasPrevious}">
            <a aria-label="Previous" href="#" th:href="@{'/users?pageNumber=' + ${pager.currentPage - 1}}">
                <span aria-hidden="true">«</span>
            </a>
        </li>
        <li th:each="page : ${pager.pages}" th:classappend="${page == pager.currentPage}? 'active'">
            <a href="#" th:href="@{'/users?pageNumber=' + ${page}}">
                [[${page}]]
            </a>
        </li>
        <li th:if="${pager.hasNext}">
            <a aria-label="Next" href="#" th:href="@{'/users?pageNumber=' + ${pager.currentPage + 1}}">
                <span aria-hidden="true">»</span>
            </a>
        </li>
    </ul>
</nav>

<ul class="users">
    <div th:each="user : ${users}" th:remove="tag">
        <div th:replace="users/_user" th:with="${user}" />
    </div>
</ul>
</body>
</html>
