<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/application">
<head>
    <title>Sign up</title>
</head>
<body layout:fragment="content">
<h1>Sign up</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form th:action="@{/users}" th:object="${userForm}" class="new_user" id="new_user" method="post">
            <label for="user_name">Name</label>
            <input id="user_name" name="name" type="text" />

            <label for="user_email">Email</label>
            <input id="user_email" name="email" type="text" />

            <label for="user_password">Password</label>
            <input id="user_password" name="password" type="password" />

            <label for="user_password_confirmation">Confirmation</label>
            <input id="user_password_confirmation" name="passwordConfirmation" type="password" />

            <input class="btn btn-primary" name="commit" type="submit" value="Create my account" />
        </form>
    </div>
</div>
</body>
</html>
