<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/application">
<head>
    <title>Sign up</title>
</head>
<body layout:fragment="content">
<h1>Sign up</h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form th:action="@{/users}" th:object="${userForm}" class="new_user" id="new_user" method="post" >
            <div class="user-name form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error has-feedback'">
                <label for="user_name">Name</label>
                <span th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}">Error</span>
                <input id="user_name" name="name" type="text" class="form-control" />
            </div>

            <div class="user-email form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error has-feedback'">
                <label for="user_email">Email</label>
                <span th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}">Error</span>
                <input id="user_email" name="email" type="text" class="form-control" />
            </div>

            <div class="user-password form-group" th:classappend="${#fields.hasErrors('password')}? 'has-error has-feedback'">
                <label for="user_password">Password</label>
                <span th:if="${#fields.hasErrors('password')}" class="text-danger" th:errors="*{password}">Error</span>
                <input id="user_password" name="password" type="password" class="form-control" />
            </div>

            <div class="user-password-confirmation form-group" th:classappend="${#fields.hasErrors('passwordConfirmation')}? 'has-error has-feedback'">
                <label for="user_password_confirmation">Confirmation</label>
                <span th:if="${#fields.hasErrors('passwordConfirmation')}" class="text-danger" th:errors="*{passwordConfirmation}">Error</span>
                <input id="user_password_confirmation" name="passwordConfirmation" type="password" class="form-control" />
            </div>

            <input class="btn btn-primary" name="commit" type="submit" value="Create my account" />
        </form>
    </div>
</div>
</body>
</html>
